{% extends 'base.html' %}
{% block content %}
<h2>Atualizar Dados da Receita {{ post.title }} </h2>
<form method="POST" action="{% url 'posts:update' post.id %}">
    {% csrf_token %}
    <p>
        <label for="id_title">Receita:</label>
        <input type="text" name="title" id="id_title" value="{{ post.title }}" />
    </p>
    <p>
        <label for=" id_ingred">Ingredientes:</label>
        <input type="text" name="ingred" id="id_ingred" value="{{ post.ingred }}" />
    </p>
    <p>
        <label for=" id_mdf">Modo de fazer:</label>
        <input type="text" name="mdf" id="id_mdf" value="{{ post.mdf }}" />
    </p>
    <button type="submit">Atualizar </button>
    </form>
{% endblock content %}